:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #ddfff7;
  background: transparent;

  --color-primary: #212738;
  --color-secondary: #ddfff7;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  width: 550px; /* 幅を調整 */
  height: 90px; /* 高さを調整 */
  background-color: var(--color-primary);
  border-radius: 0 0 8px 8px; /* 下の角を丸める */
  margin: 0 auto; /* 中央に配置 */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2); /* 影を追加 */
  position: relative;
  top: -8px;
  /* padding */
  padding-left:   32.5px;
  padding-right:  32.5px;
  padding-top:    18px;
  padding-bottom: 5px;
  /* flexの設定 */
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items:center;
  gap: 23px;
}

.container:before, .container:after {
  content: "";
  position: absolute;
  width:  8px; /* 飛び出し部分の幅 */
  height: 8px; /* 飛び出し部分の高さ */
  top: 0px;
}

/* 左上の飛び出し部分 */
.container:before {
  content: "";
  background-image: url("public/left.svg");
  left: -8px;
}

/* 右上の飛び出し部分 */
.container:after {
  content: "";
  background-image: url("public/right.svg");
  right: -8px;
}

.workspace {
  width: 104px; /* 幅を調整 */
  height: 59px; /* 高さを調整 */
  background-color: var(--color-secondary);
  border-radius: 4px;
  position: relative;
  border: 1px solid #000;
}