name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    strategy:
      matrix:
        target:
        - x86_64-unknown-linux-gnu
        - x86_64-unknown-linux-musl
        - x86_64-pc-windows-msvc
        include:
        - target: x86_64-unknown-linux-gnu
          os: ubuntu-latest
        - target: x86_64-unknown-linux-musl
          os: ubuntu-latest
        - target: x86_64-pc-windows-msvc
          os: windows-latest

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4
    - name: Setup Rust toolchain
      run: |
        rustup target add ${{ matrix.target }}
#       rustup install nightly
#       rustup +nightly component add miri
    - uses: Swatinem/rust-cache@v2
      with:
        prefix-key: "v0-rust-${{ matrix.target }}"
    - name: Test
      run: |
        cargo test
#       cargo +nightly miri test
